// 颜色变量, 统一使用 $--hc- 命名

// 提示颜色
$--hc-primary: #3888de;
$--hc-success: #21ae3b;
$--hc-warn: #ffa048;
$--hc-danger: #fd3b3b;
$--hc-info: #8a92a5;
$--hc-white: #ffffff;

// 字体颜色色系
$--hc-f01: #171C20;

// 边框颜色
$--hc-b01: #d3d3d3;

// 背景颜色
$--hc-bg01: #3e5365;
$--hc-bg02: #f5f7fa;
$--hc-bg03: #eff3f6;

// 导航栏颜色
$--hc-nav-fc: #aeb6be;
$--hc-nav-fh: $--hc-white;